@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Bulky.Web.Models.Product.ProductViewModel>

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<partial name="_Toaster" />

<div class="row py-3">
	<div class="col-md-6">
		<h1>Products</h1>
	</div>
	<div class="col-md-6 text-end">
		<a asp-controller="Product" asp-action="Create" class="btn btn-primary">Create Product</a>
	</div>
</div>

<div class="row p-3 text-center">
	<table id="table" class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Price</th>
            </tr>
        </thead>
	</table>
</div>

@section Scripts
{
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>	
	<script src="~/js/dataTable.js"></script>
	<script type="text/javascript">
        initDataTable('table', 'Product', [
            {
                data: 'title',
                render: function (data, type, row) {
                    return `<a href="/Product/Details/${row.id}">${data}</a>`;
                }
            },
            { data: 'author' },
            { data: 'isbn' },
            { data: 'price' },
            {
                data: null,
                orderable: false,
                searchable: true,
                render: function (data, type, row) {
                    return `
                                <div class="d-flex align-items-center gap-2">
                                    <a href="/Product/Edit/${row.id}" class="btn btn-sm btn-primary">Edit</a>
                                    <button class="btn btn-sm btn-danger delete-btn" onclick="confirmDelete(${row.id}, '/Product/Delete')">Delete</button>
                                </div>
                            `;
                }
            }
        ]);
    </script>
	<script src="~/js/sweetAlert.js"></script>

}


