@model CategoryDto
@{
	ViewData["Title"] = "Create Category";
}

<partial name="_Toaster" />

<div class="row">
	<div class="col-md-6">
		<h1>Create Category</h1>
	</div>
	<div class="col-md-6 text-end">
		<button class="btn btn-dark">Save as a Draft</button>
	</div>
</div>

<row class="row">
	<form asp-action="Create">
		<div class="form-group my-3">
			<label>Name</label>
			<input type="text" class="form-control" asp-for="Name"/>
			<span asp-validation-for="Name"></span>
		</div>
		
		<div class="d-flex gap-2 justify-content-end">
			<button class="btn btn-success" type="submit">Create</button>
			<button class="btn btn-info" type="reset">Reset</button>
			<a asp-controller="Category" asp-action="Index" class="btn btn-danger" type="button">Go Back</a>
		</div>
	</form>
</row>
